.register-page{

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 1fr;

    background:#ffffff;

    overflow:hidden;

}



@media(max-width:900px){


    .register-page{

        grid-template-columns:1fr;

    }


}