/* ===========================
   Contact Hero Section
=========================== */


.contact-hero{

    height:95vh;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    background-image:url("../../assets/bluecont.jpeg");

    background-size:cover;

    background-position:center;

    overflow:hidden;

}







.contact-hero::before{


    content:"";

    position:absolute;

    inset:0;

    background-image:inherit;

    background-size:cover;

    background-position:center;

    animation:contactZoom 12s infinite alternate;


}





@keyframes contactZoom{


    from{

        transform:scale(1);

    }


    to{

        transform:scale(1.08);

    }


}








/* Overlay */


.contact-hero-overlay{


    position:absolute;

    inset:0;


    background:

    linear-gradient(

        90deg,

        rgba(0,0,0,.80),

        rgba(0,0,0,.45)

    );


}








/* Content */


.contact-hero-content{


    position:relative;

    z-index:2;

    color:white;

    text-align:center;

    max-width:800px;

    padding:30px;

    animation:contactFade 1s ease;


}






.contact-hero-content span{


    color:#D4AF37;

    letter-spacing:5px;

    font-size:14px;

    font-weight:600;


}







.contact-hero-content h1{


    font-family:"Playfair Display",serif;

    font-size:60px;

    line-height:1.2;

    margin:25px 0;


}






.contact-hero-content p{


    font-size:18px;

    color:#eee;

    line-height:1.8;

    max-width:650px;

    margin:auto;


}








@keyframes contactFade{


    from{

        opacity:0;

        transform:translateY(40px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }


}








@media(max-width:900px){


    .contact-hero{


        height:65vh;


    }




    .contact-hero-content h1{


        font-size:38px;


    }




    .contact-hero-content p{


        font-size:15px;


    }


}