/* ===========================
   Collection Hero
=========================== */


.collection-hero{

    height:95vh;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    background-image:url("../../assets/blue37.jpeg");

    background-size:cover;

    background-position:center;

    overflow:hidden;

}





/* Image Zoom */

.collection-hero::before{


    content:"";

    position:absolute;

    inset:0;

    background-image:inherit;

    background-size:cover;

    background-position:center;

    animation:collectionZoom 12s infinite alternate;


}




@keyframes collectionZoom{


    from{

        transform:scale(1);

    }


    to{

        transform:scale(1.08);

    }


}







/* Overlay */


.collection-hero-overlay{


    position:absolute;

    inset:0;


    background:

    linear-gradient(

        90deg,

        rgba(0,0,0,.80),

        rgba(0,0,0,.45)

    );


}








/* Content */


.collection-hero-content{


    position:relative;

    z-index:2;

    text-align:center;

    color:white;

    max-width:800px;

    padding:30px;

    animation:collectionFade 1s ease;


}






.collection-hero-content span{


    color:#D4AF37;

    letter-spacing:5px;

    font-size:14px;

    font-weight:600;


}







.collection-hero-content h1{


    font-family:"Playfair Display",serif;

    font-size:60px;

    line-height:1.2;

    margin:25px 0;


}






.collection-hero-content p{


    font-size:18px;

    line-height:1.8;

    color:#eee;

    max-width:650px;

    margin:auto;


}







/* Button */


.collection-btn{


    display:inline-flex;

    margin-top:35px;

    padding:15px 45px;

    border-radius:30px;

    background:#D4AF37;

    color:#111;

    text-decoration:none;

    font-weight:600;

    transition:.4s;


}





.collection-btn:hover{


    background:#fff;

    transform:translateY(-5px);


}








@keyframes collectionFade{


    from{

        opacity:0;

        transform:translateY(40px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }


}







@media(max-width:900px){


    .collection-hero{


        height:75vh;


    }



    .collection-hero-content h1{


        font-size:38px;


    }




    .collection-hero-content p{


        font-size:15px;


    }


}